<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
<div class="pokemon-container">
  <div class="card-header col-md-10">
    <h2>
      &#Pokemon Roster
    </h2>
  </div>
   {{#each pokemon as |pokemon|}}
  <!-- For each pokemon in the array of pokemon objects, the following <div> will be rendered. -->
    <div class="pokemon col-md-5">
      <!-- We use pokemon.id instead of <od> and <li> elements. -->
      <p>
        {{pokemon.id}}.
        {{pokemon.pokemon_name}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
        <!-- guest_name will eventually go here -->
      </p>
    </div>
    <!-- Below, we close the #each helper. -->
  {{/each}}
</div>

    <div>
      <ol>
        <li>
         Bulbasaur
        </li>
        <li>
          Charmander
        </li>
        <li>
          Squirtle
        </li>
        <li>
          Pikachu 
        </li>
        <li>
          Cyndiquil
        </li>
        <li>
          Totadile
        </li>
        <li>
          ChiKorita 
        </li>
      </ol>
    </div>
  </div>
</div>