<div class="pokemon-card">
  <div class="pokemon-card-header">
    {{pokemon_name}}
  </div>
  <div class="card-body">
    <!-- We render the description below, using a Handlebars.js expression. -->
    <p>
      Description:
      {{description}}
    </p>
  </div>
</div>